.block {
	margin: auto;
	margin-top: 100px;
	color: inherit;
	background: inherit;
	border: 1px white solid;
	border-radius: 10px;
	padding: 10px;
	display: block;
	max-width: 400px;
}

.loginform {
	display: flex;
	flex-direction: column;
}

.fieldBlock {
	margin-bottom: 40px;
	width: 100%;
}

.fieldBlock p {
	font-weight: 600;
	color: red;
	position: absolute;
}

.item {
	width: 100%;
	background-color: inherit;
	color: inherit;
	font-size: 1.3em;
	border: 1px white solid;
	padding: 5px 0px;
	margin-top: 5px;
}

.item:focus{
	outline: 0;
    box-shadow: 0 0 3px #2ee0ff;
}



.empty { 
   outline: solid red 1px;
   box-shadow: 0 0 4px red;

}

.subbtn {
	width: 150px;
	padding: 5px 0px;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	background: rgb(169, 1, 236);
	color: white;
	font-weight: 300;
	font-size: 2em;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
