header {
    color: rgb(75, 75, 75);
    background: rgb(0, 212, 71);
    text-align: center;
    width: 100%;
}

body {
    background: rgb(70, 70, 70);
}

.wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.form-style {
    display: flex;
    flex-direction: column;
    margin: 2px auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #a0a0a0;
    width: 5%;
    min-width: 300px;
    max-height: 200px;
}

.head{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.grid-rep {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 2.5em;
}

.reportItem {
    background-color: rgb(0, 6, 83);
    border-radius: 10px;
    padding: 8px;
    color: blanchedalmond;
    width: 250px;
    min-height: 200px;
    max-height: 400px;

}

.reportItem h3{
    background-color:#000;
    opacity: 0.6;
}

.reportItem p{
   text-align: justify;
   word-wrap: break-word;

}

#date-p {
    color: rgb(82, 82, 82);
    font-weight: bold;
    text-align: center;
    margin: 3px;
}

#report-text {
    width: 90%;
    height: 100px;
    font-size: 1.2em;
    margin: 5px auto;
    line-height: 1.2em;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#subbtn {
    background-color: rgb(219, 42, 11);
    color: white;
    margin: 1em auto;
    padding: 10px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}