
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

body {
	background: rgb(49, 49, 49);
}

.navRepItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

#deletebtn {
	color: red;
	background-color: inherit;
	padding: 5px 10px;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.5em;
	opacity: 0.6;
	cursor: pointer;
	border: none;
}
#editbtn {
	color: #fff;
	background-color: inherit;
	padding: 5px 10px;
	font-size: 1.5em;
	opacity: 0.6;
	cursor: pointer;
	border: none;
}

#deletebtn:hover {
	opacity: 1;
	background-color: rgb(65, 65, 65);
}
#editbtn:hover {
	opacity: 1;
	background-color: rgb(65, 65, 65);
}

.reportItem {
	background-color: inherit;
	padding: 15px 30px;
	color: rgb(255, 255, 255);
	margin: 0.4em 0;
	border: 1px white solid;
}

.reportItem h3 {
	opacity: 0.6;
	font-size: 1.5em;
}

.reportItem p {
	margin: 0 auto;
	text-align: center;
	max-width: 80ch;
}


#report-text {
	background: rgb(223, 223, 223);
	color: rgb(0, 0, 0);
	width: 95%;
	font-size: 1.5em;
	margin: 2px auto;
	line-height: 1.2em;
	resize: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.smallTextArea {
	height: 140px;
}

.bigTextArea {
	height: 150px;
}

#date-p {
	color: rgb(82, 82, 82);
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 3px;
}

#emptNotifier {
	display: none;
	margin: 5px auto;
	font-weight: 400;
	text-align: center;
	padding: 5px;
	width: 150px;
	color: red;
	border: 1px solid white;
}

#subbtn {
	background-color: rgb(219, 42, 11);
	color: white;
	margin: 0.5em auto;
	padding: 10px 20px;
	width: 30%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.appTodo {
	border: 1px solid rgb(0, 0, 0);
	grid-area: todo;
	justify-self: center;
	width: 70%;
}

.reportFeed {
	grid-area: feedrep;
	display: flex;
	flex-direction: column;
	width: 85%;
	justify-self: left;
}

.addReportForm {
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(0, 0, 0);
	background-color: #a0a0a0;
	justify-self: left;
	width: 85%;
	grid-area: addrep;
}

.gridCap {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas: "todo addrep" ". feedrep" ;
	gap: 5px;
}


@media only screen and (max-width: 1024px) {

	.appTodo{
		width: 90%;
	}

	.addReportForm{
		width: 90%;
	}
	.reportFeed{
		width: 90%;
	}
	
	.gridCap {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-areas: 'todo addrep' '. feedrep' ;
		gap: 5px;
	}

}

@media only screen and (max-width: 768px) {

	.appTodo {
		width: 90%;
		justify-self: left;
	}
	.addReportForm {
		width: 90%;
		justify-self: right;
	}
	.reportFeed{
		justify-self: center;
	}
	
	.gridCap {
		gap:0px;
		row-gap: 5px;
		grid-template-columns: 50% 50%;
        grid-template-areas: 'addrep todo' 'feedrep feedrep' ;
		}
		
}

@media only screen and (max-width: 530px) {

	.appTodo {
		width: 95%;
		justify-self: center;
	}

	.addReportForm{
		width: 95%;
		justify-self: center;
	}
	.reportFeed{
		width: 95%;
	}
	.gridCap {
		grid-template-columns: 100%;
        grid-template-areas: 'todo''addrep''feedrep';
	}
	
}



@media only screen and (max-width: 320px) {
    
    
}

