header {
    color: rgb(75, 75, 75);
    background: rgb(0, 212, 71);
    text-align: center;
    width: 100%;
}

body {
    background: rgb(70, 70, 70);
}

.wrapper {
    width: 90%;
}

.gridCap {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(150px,auto);
    grid-template-areas: 
    "addrep feedrep" "todo feedrep" "todo feedrep";
    gap: 10px
}

.grid-item{

}

.addReport {
    grid-area: addrep;
}

.reportFeed{
    grid-area: feedrep;
    display: flex;
    flex-direction: column;
}

.appTodo{
    grid-area: todo;
}


.dayReports{

}

.form-style {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #a0a0a0;
    min-width: 300px;
    max-height: 200px;
}

.reportItem {
    background-color: rgb(0, 6, 83);
    border-radius: 10px;
    padding: 15px;
    color: blanchedalmond;
}

.reportItem h3{
    background-color:#000;
    opacity: 0.6;
}

.reportItem p{
   text-align: justify;
   word-wrap: break-word;

}

#date-p {
    color: rgb(82, 82, 82);
    font-weight: bold;
    text-align: center;
    margin: 3px;
}

#report-text {
    width: 90%;
    height: 100px;
    font-size: 1.2em;
    margin: 5px auto;
    line-height: 1.2em;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#subbtn {
    background-color: rgb(219, 42, 11);
    color: white;
    margin: 1em auto;
    padding: 10px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}