* {
	margin: 0;
	padding: 0;
}

.addTodoForm {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 1.4em;
}

.addTodoTextInput {
	padding: 5px;
	width: 90%;
	font-size: inherit;
	margin: 5px auto;
	color: white;
	border: 1px white solid;
	background: inherit;
}

.addTodoTextInput:focus {
	outline: 0;
    box-shadow: 0 0 3px #2ee0ff;
}


.btnAdd {
	width: 30%;
	border: none;
	background: rgb(255, 0, 0);
	opacity: 0.8;
	color: #fff;
	cursor: pointer;
}

.btnAdd:hover {
	opacity: 1;
}

.todoFlex {
	background: inherit;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.todoItem {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	border: 1px solid white;
	background: inherit;
	color: inherit;
	width: 90%;
	padding: 7px;
	margin: 5px auto;
}

.todoItem p {
	font-weight: 500;
	font-size: 1.4em;
	line-height: 0.9;
	justify-self: left;
	text-align: left;
	margin: auto 0px;
	width: 80%;
	line-break: auto;
	word-wrap: break-word;
}

.cbox {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.btnDelete {
	background: #d80404;
	justify-self: end;
	color: #fff;
	cursor: pointer;
	border: none;
	opacity: 0.8;
	width: 20px;
	height: 20px;
}

.btnDelete:hover {
	opacity: 1;
}

#emptyHeader {
	margin: auto;
	color: rgb(197, 197, 197);
	opacity: 0.4;
	text-align: center;
}