* {
  margin: 0;
  padding: 0;
}


.todoFlex {
  background: rgb(209, 202, 202);
  display: flex;
  flex-flow: column;
  min-height: 306px;
 	border: 1px solid rgb(0, 0, 0);
}

.todoItem{
  display: flex;
  border: 2px black solid ;
  background: rgb(0, 58, 71);
  color: #fff;
  width: 20rem;
  flex-flow: row wrap;
  margin: 5px auto;
  line-height: 0.7;
}

.todoItem p{
  text-align: justify;
  word-wrap: break-word;
  width: 80%;
}

.cbox {
  width: 20px; 
  height: 20px; 
  margin: auto .7em;
}

.btnAdd {
  display: inline-block;
  border: none;
  background: rgb(255, 0, 0);
  opacity: .8;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btnAdd:hover{
  opacity: 1;
}

.btnDelete {
  background: #2f2f2f;
  color: #fff;
  cursor: pointer;
  border: none;
  opacity: .8 ;
  padding: 3px 5px;
  margin: auto .7em;
}

.btnDelete:hover {
  opacity: 1 ;
}

